<div class="main-panel">
  <div class="content">
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <h2 class="display-4">WELCOME</h2>
        <p class="lead">Test i welcome page za Angular 8 DCZR Platform Front End</p>
        <hr class="my-4">
        <p>Created and made by Adam Maran and Aleksa Cakic</p>
        <br>
        <h2>KORISTI LOGIN KAO LANDING PAGE</h2>
        <p>Napisati skriptu koja ce prepoznati ko je vec ulogovan a ko nije.</p>
        <ol>
          <li>Dash Nav - Aleksa</li>
          <li>Login Form - Adam</li>
        </ol>
        <a class="btn btn-primary btn-lg" href="#" routerLink="/dash" role="button">Na Dash </a>
        <a class="btn btn-primary btn-lg" href="#" routerLink="/projects" role="button">Projects</a>
      </div>
    </div>
  </div>
</div>
