.button {
    -fx-background-color: transparent ;
}

#stackPane {
    -fx-background-color: black;
}

#about-container {
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

