<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul class="footer-menu">
        <li>
          <a href="#" routerLink="/">
            Home
          </a>
        </li>
        <li>
          <a href="#" routerLink="/dash">
            Dash
          </a>
        </li>
        <li>
          <a href="#" routerLink="/user">
            Users
          </a>
        </li>
      </ul>
      <p class="copyright text-center">
        ©
        <script>
            document.write(new Date().getFullYear())
        </script>
        <a href="http://www.devcenter.rs">DevCenter ZRENJANIN RS</a>, made with love for a better web
      </p>
    </nav>
  </div>
</footer>
