<div class="main-panel">
  <div class="content">
    <div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2>Project List</h2>
          <button class="btn-danger" routerLink="/#" routerLinkActive="router-link-active">Go to
            Show Shit
          </button>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Project UUID</th>
              <th>Name</th>
              <th>People</th>
              <th>Skill</th>
              <th>Estimated Time</th>
              <th>Delivery Time</th>
              <th>Due Date</th>
              <th>Salary</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects">
              <td>{{ project.projectUUID }}</td>
              <td>{{ project.name }}</td>
              <td>{{ project.userUUID }}</td>
              <td>{{ project.skillUUID }}</td>
              <td>{{ project.estimatedtime }}</td>
              <td>{{ project.deliverytime }}</td>
              <td>{{ project.duedate }}</td>
              <td>{{ project.salary }}</td>
              <td>
                <button (click)="deleteUser(projects.body.projectuuid)" class="btn btn-danger">Delete</button>
                <button (click)="deleteUser(projects.body.projectuuid)" class="btn btn-dark"
                        style="margin-left: 10px">Details
                </button>
                <button (click)="deleteUser(projects.body.projectuuid)" class="btn btn-dark"
                        style="margin-left: 10px">Update
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
