<!--
Navbar and side-dash board are in one Component that is used to wrap the whole site.
-->

<!--Side bar start-->
<div class="sidebar position-fixed" data-image="src/assets/img/full-screen-image-3.jpg" data-color="blue" >
  <div class="sidebar-wrapper ">
    <div class="logo">
      <a href="http://www.devcenter.rs" class="simple-text">
        DevCenter Zrenjanin
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item ">
        <a class="nav-link" href="#" routerLink="/dash">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#" routerLink="/hello">
          <i class="nc-icon nc-alien-33"></i>
          <p>Test Get</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="#" routerLink="/user">
          <i class="nc-icon nc-circle-09"></i>
          <p>User Profile</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="#" routerLink="/projects">
          <i class="nc-icon nc-atom"></i>
          <p>Projects</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="#" routerLink="/icon">
          <i class="nc-icon nc-credit-card"></i>
          <p>Tasks</p>
        </a>
      </li>
      <li class="nav-item active active-pro">
        <a class="nav-link active" href="#">
          <i class="nc-icon nc-alien-33"></i>
          <p>Upgrade to PRO</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<!--Side-board end-->

<!--Navbar start-->
<div class="main-panel">
  <nav class="navbar navbar-default navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> Dashboard </a>
      <button class="navbar-toggler navbar-toggler-right" id="dropdownMenuButton" data-toggle="collapse"
              aria-labelledby="dropdownMenuButton" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a href="#" class="nav-link" data-toggle="dropdown">
              <i class="nc-icon nc-palette"></i>
              <span class="d-lg-none">Dashboard</span>
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="nc-icon nc-planet"></i>
              <span class="notification">1</span>
              <span class="d-lg-none">Notification</span>
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nc-icon nc-zoom-split"></i>
              <span class="d-lg-block">&nbsp;Search</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="no-icon">Account</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <span class="no-icon">Dropdown</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <div class="divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!--Navbar end-->

<router-outlet></router-outlet>
